.pix {
  border: 1px solid black;
  width: 4.82vw;
  height: 4.9vh;
  float: left;
}
.pix:hover {
  background-color: lightgrey;
}
.color {
  border: 0.5px solid black;
  float: left;
  color: white;
  font-size: .1rem
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#yellow {
  background-color: yellow;
}
#black {
  background-color: black;
}
#eraser {
  color: black;
}
